{% load display_product_helpers %}

<!-- producto/producto/display/table.html start -->
{% display_product_categories_tree %}

<div class="my-3"></div>

<div class="accordion" id="accordionCategorias">
    {% for categoria in categories %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-cat-{{ categoria.pk }}">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-cat-{{ categoria.pk }}" aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" aria-controls="collapse-cat-{{ categoria.pk }}">
                    {{ categoria }}
                </button>
            </h2>
            <div id="collapse-cat-{{ categoria.pk }}" class="accordion-collapse collapse {% if forloop.first %}show{% endif %}" aria-labelledby="heading-cat-{{ categoria.pk }}" data-bs-parent="#accordionCategorias">
                <div class="accordion-body">
                    <div id="productos-table-{{ categoria.pk }}" class="row row-cols-1 row-cols-sm-3 g-4">
                        {% for producto in categoria.productos.all %}
                            {% if producto.mostrar_en_galeria %}
                                {% include "producto/display/producto.html" %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<div id="personalization-templates">
    {% for producto in products %}
        {% include "producto/display/producto_personalization_template.html" %}
    {% endfor %}
</div>
<!-- producto/producto/display/table.html end -->
