{% extends "html/form.html" %}
{% load crispy_forms_tags %}
{% load crud_helpers %}

{% block forms_middle_right_pre %}
    <!-- producto/producto/producto_detail.html start block forms_middle_right_pre -->
    {% if object.imagen %}
        <div id="svg-product-container">
            {{ object.svg_content|safe }}
        </div>
    {% endif %}
    <!-- producto/producto/producto_detail.html end block forms_middle_right_pre -->
{% endblock %}

{% block postcontent %}
    <!-- producto/producto/producto_detail.html start block postcontent -->
    <h3>
        <button onclick="create_parte_producto({{ object.pk }})" title="{% crud_label 'create_f' %} Parte" type="button" class="btn btn-outline-secondary">
            {% crud_smart_button 'create_f' %}
        </button>
        Partes:
    </h3>
    {% for parte in object.partes.all %}
        <div id="parte-{{ parte.pk }}" class="card text-dark bg-light mb-3" data-posicion="{{ parte.posicion }}" data-nombre="{{ parte.nombre }}" data-tipo="{{ parte.tipo_de_parte.pk }}" data-paletas="{% for paleta in parte.paletas_de_color.all %}{{ paleta.pk }},{% endfor %}">
            <div class="card-header">
                <h5 class="card-title">
                    <div class="btn-group float-end" role="group">
                        <button onclick="update_parte_producto({{ parte.pk }})" title="{% crud_label 'update' %} Parte" type="button" class="btn btn-outline-secondary">
                            {% crud_smart_button 'update' %}
                        </button>
                        <button onclick="delete_parte_producto({{ parte.pk }})" title="{% crud_label 'delete' %} Parte" type="button" class="btn btn-outline-secondary">
                            {% crud_smart_button 'delete' %}
                        </button>
                    </div>
                    <div class="btn-group float-end me-3" role="group">
                        <button onclick="create_campo_parte_producto({{ parte.pk }})" title="{% crud_label 'create' %} Campo" type="button" class="btn btn-outline-secondary">
                            {% crud_smart_button 'create' %}
                        </button>
                        <button onclick="create_grupo_parte_producto({{ parte.pk }})" title="{% crud_label 'create' %} Grupo de Campos" type="button" class="btn btn-outline-secondary">
                            <i class="fa-solid fa-file-circle-plus"></i>
                        </button>
                    </div>
                    ({{ parte.posicion }}) {{ parte }} - {{ parte.tipo_de_parte }}
                </h5>
            </div>
            <div class="card-body">
                {% if parte.detalle %}
                    <h6 class="card-title">Campos:</h6>
                    <table class="table table-hover table-bordered table-sm">
                        <thead>
                            <tr>
                                <th>Campo</th>
                                <th>Tipo</th>
                                <th>Catálogo de Opciones</th>
                                <th>Opciones de Color</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Campo</th>
                                <th>Tipo</th>
                                <th>Catálogo de Opciones</th>
                                <th></th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for detalle in parte.detalle %}
                                {% if detalle.tipo_de_campo %}
                                    {% with campo=detalle %}
                                    <tr id="campo-{{ campo.pk }}" data-nombre="{{ campo.nombre }}" data-posicion="{{ campo.posicion }}" data-tipocampo="{{ campo.tipo_de_campo.pk }}" data-opcionesmaterial="{{ campo.opciones_material.pk }}" data-opcionescolor="{{ campo.opciones_color.pk }}" data-idsvg="{{ campo.id_svg }}">
                                        <td>({{ campo.posicion }}) {{ campo }}{% if campo.id_svg %} #{{ campo.id_svg }}{% endif %}</td>
                                        <td>{{ campo.tipo_de_campo }}</td>
                                        <td>{% if campo.opciones_material %}{{ campo.opciones_material }}{% endif %}</td>
                                        <td>
                                            <button onclick="update_campo_parte_producto({{ campo.pk }})" title="{% crud_label 'update' %} Campo" type="button" class="btn btn-outline-secondary">
                                                {% crud_smart_button 'update' %}
                                            </button>
                                            <button onclick="delete_campo_parte_producto({{ campo.pk }})" title="{% crud_label 'delete' %} Campo" type="button" class="btn btn-outline-secondary">
                                                {% crud_smart_button 'delete' %}
                                            </button>
                                        </td>
                                    </tr>
                                    {% endwith %}
                                {% else %}
                                    {% with grupo=detalle %}
                                    <tr id="grupo-{{ grupo.pk }}" data-nombre="{{ grupo.nombre }}" data-posicion="{{ grupo.posicion }}" data-tipocampo="" data-opcionesmaterial="" data-opcionescolor="" data-idsvg="">
                                        <td colspan="3">
                                            ({{ grupo.posicion }}) {{ grupo }}
                                        </td>
                                        <td>
                                            <button onclick="update_grupo_parte_producto({{ grupo.pk }})" title="{% crud_label 'update' %} Grupo de Campos" type="button" class="btn btn-outline-secondary">
                                                {% crud_smart_button 'update' %}
                                            </button>
                                            <button onclick="delete_grupo_parte_producto({{ grupo.pk }})" title="{% crud_label 'delete' %} Grupo de Campos" type="button" class="btn btn-outline-secondary">
                                                {% crud_smart_button 'delete' %}
                                            </button>
                                            <button onclick="create_campo_parte_producto('grupo-{{ grupo.pk }}')" title="{% crud_label 'create' %} Campo" type="button" class="btn btn-outline-secondary">
                                                {% crud_smart_button 'create' %}
                                            </button>
                                        </td>
                                    </tr>
                                    {% for campo in grupo.campos.all %}
                                    <tr id="campo-{{ campo.pk }}" data-nombre="{{ campo.nombre }}" data-posicion="{{ campo.posicion }}" data-tipocampo="{{ campo.tipo_de_campo.pk }}" data-opcionesmaterial="{{ campo.opciones_material.pk }}" data-opcionescolor="{{ campo.opciones_color.pk }}" data-idsvg="{{ campo.id_svg }}">
                                        <td>
                                            <div class="d-inline-block me-3"></div>
                                            ({{ campo.posicion }}) {{ campo }}{% if campo.id_svg %} #{{ campo.id_svg }}{% endif %}</td>
                                        <td>{{ campo.tipo_de_campo }}</td>
                                        <td>{% if campo.opciones_material %}{{ campo.opciones_material }}{% endif %}</td>
                                        <td>
                                        <button onclick="update_campo_parte_producto({{ campo.pk }})" title="{% crud_label 'update' %} Campo" type="button" class="btn btn-outline-secondary">
                                            {% crud_smart_button 'update' %}
                                        </button>
                                        <button onclick="delete_campo_parte_producto({{ campo.pk }})" title="{% crud_label 'delete' %} Campo" type="button" class="btn btn-outline-secondary">
                                            {% crud_smart_button 'delete' %}
                                        </button>
                                    </td>
                                    </tr>
                                    {% endfor %}
                                    {% endwith %}
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    <script type="text/x-handlebars-template" id="parte-form-template">
        <form method="post" autocomplete="off" enctype="multipart/form-data" id="main-form-parte" action="">
            {% csrf_token %}
            <input type="hidden" name="action" value="" />
            <input type="hidden" name="extra" id="extra" value="" />
            {% crispy form_parte %}
            <button type="submit" class="btn btn-outline-secondary" id="btn-save" title="{% action_label 'save' %}">
                {% action_icon 'save' %}
            </button>
        </form>
    </script>

    <script type="text/x-handlebars-template" id="campo-form-template">
        <form method="post" autocomplete="off" enctype="multipart/form-data" id="main-form-campo" action="">
            {% csrf_token %}
            <input type="hidden" name="action" value="" />
            <input type="hidden" name="extra" id="extra" value="" />
            {% crispy form_campo %}
            <button type="submit" class="btn btn-outline-secondary" id="btn-save" title="{% action_label 'save' %}">
                {% action_icon 'save' %}
            </button>
        </form>
    </script>

    <script type="text/x-handlebars-template" id="grupo-form-template">
        <form method="post" autocomplete="off" enctype="multipart/form-data" id="main-form-campo" action="">
            {% csrf_token %}
            <input type="hidden" name="action" value="" />
            <input type="hidden" name="extra" id="extra" value="" />
            {% crispy form_grupo %}
            <button type="submit" class="btn btn-outline-secondary" id="btn-save" title="{% action_label 'save' %}">
                {% action_icon 'save' %}
            </button>
        </form>
    </script>
    <!-- producto/producto/producto_detail.html end block postcontent -->
{% endblock %}
