{% extends "html/html_struct.html" %}
{% load crud_helpers %}

{% block content%}
    <!-- producto/producto/producto_list.html start block content -->
    {% if object_list %}
        <table id="main-data-table">
            <thead>
            <tr>
                <th></th>
                <th>Producto</th>
                <th>Categoria</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th></th>
                <th>Producto</th>
                <th>Categoria</th>
            </tr>
            </tfoot>
            <tbody>
            {% for reg in object_list %}
                <tr>
                    <td><input class="form-check-input" type="checkbox" value="{{ reg.pk }}" name="pk" /></td>
                    <td><a href="{% url 'producto_read' reg.pk %}">{{ reg }}</a></td>
                    <td>{{ reg.categorias.all|join:" | " }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <script type="text/javascript">
        let update_url = `{% url 'producto_update' pk=0 %}`;
        let delete_many_url = `{% url 'producto_delete_many' %}`;
    </script>
    <!-- producto/producto/producto_list.html end block content -->
{% endblock %}
