#producto-personalizacion-form button.nav-link {
    font-size: small;
}
#producto-personalizacion-form ul.nav-tabs button.nav-link {
    font-size: x-small;
}
.muestra-color {
    height: 30px;
    width: 125px;
}

.tab-personalizacion {
    /* min-height: 450px; */
}

.tab-personalizacion .muestra-color {
    height: 30px;
    width: 100px;
}
