{% extends "html/form.html" %}
{% load crispy_forms_tags %}
{% load crud_helpers %}

{% block postcontent %}
    <hr />
    <h3>Opciones</h3>
    {% with toolbar_opciones as toolbar %}
        {% include "html/toolbar.html" %}
    {% endwith %}
    {% if object.opciones.all %}
        <table id="main-data-table">
            <thead>
            <tr>
                <th></th>
                <th>Opción</th>
                <th></th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th></th>
                <th>Opción</th>
                <th></th>
            </tr>
            </tfoot>
            <tbody>
            {% for reg in object.opciones.all %}
                <tr>
                    <td><input class="form-check-input" type="checkbox" value="{{ reg.pk }}" name="pk" /></td>
                    <td>{{ reg }}</td>
                    <th>
                        <button class="btn btn-light" style="color: {{ reg }};"><i class="fa-solid fa-circle"></i></button>
                        <button class="btn btn-secondary" style="color: {{ reg }};"><i class="fa-solid fa-circle"></i></button>
                        <button class="btn btn-dark" style="color: {{ reg }};"><i class="fa-solid fa-circle"></i></button>
                    </th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <script type="text/x-handlebars-template" id="opction-form-template">
        <form method="post" autocomplete="off" enctype="multipart/form-data" id="main-form-option" action="">
            {% csrf_token %}
            <input type="hidden" name="action" value="" />
            <input type="hidden" name="extra" id="extra" value="" />
            {% crispy form_opc %}
            <button type="submit" class="btn btn-outline-secondary" id="btn-save" title="{% action_label 'save' %}">
                {% action_icon 'save' %}
            </button>
        </form>
    </script>

{% endblock %}
