{% extends "html/form.html" %}
{% load crispy_forms_tags %}
{% load crud_helpers %}

{% block postcontent %}
    <!-- catalogo/catalogo/tipocolor_detal.html start block postcontent -->
    <hr />
    <h3>Opciones</h3>
    {% with toolbar_opciones as toolbar %}
        {% include "html/toolbar.html" %}
    {% endwith %}
    {% if object.opciones.all %}
        <table id="main-data-table">
            <thead>
            <tr>
                <th></th>
                <th>Orden</th>
                <th>Nombre</th>
                <th>Color</th>
                <th>Código</th>
                <th>Activo</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th></th>
                <th>Orden</th>
                <th>Nombre</th>
                <th>Color</th>
                <th>Código</th>
                <th>Activo</th>
                <th></th>
                <th></th>
            </tr>
            </tfoot>
            <tbody>
            {% for reg in object.opciones.all %}
                <tr>
                    <td><input class="form-check-input" type="checkbox" value="{{ reg.pk }}" name="pk" /></td>
                    <td>{{ reg.orden }}</td>
                    <td>{{ reg }}</td>
                    <td>{{ reg.color }}</td>
                    <td>{{ reg.codigo }}</td>
                    <td><input class="form-check-input" type="checkbox" disabled="disabled" {% if reg.activo %}checked="checked"{% endif %} /></td>
                    <td>
                        <button class="btn btn-light" style="color: {{ reg.color }};"><i class="fa-solid fa-circle"></i></button>
                        <button class="btn btn-secondary" style="color: {{ reg.color }};"><i class="fa-solid fa-circle"></i></button>
                        <button class="btn btn-dark" style="color: {{ reg.color }};"><i class="fa-solid fa-circle"></i></button>
                    </td>
                    <td>
                        {% if reg.imagen %}
                        <img src="{{ MEDIA_URL }}{{ reg.imagen }}" alt="{{ reg }}" />
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <script type="text/x-handlebars-template" id="opcion-form-template">
        <form method="post" autocomplete="off" enctype="multipart/form-data" id="main-form-option" action="">
            {% csrf_token %}
            <input type="hidden" name="action" value="" />
            <input type="hidden" name="extra" id="extra" value="" />
            {% crispy form_opc %}
            <button type="submit" class="btn btn-outline-secondary" id="btn-save" title="{% action_label 'save' %}">
                {% action_icon 'save' %}
            </button>
        </form>
    </script>
    <!-- catalogo/catalogo/tipocolor_detal.html end block postcontent -->
{% endblock %}
