{% extends "html/html_struct.html" %}

{% block content%}
    <!-- catalogo/catalogo/tipocolor_list.html start block content -->
    {% if object_list %}
        <table id="main-data-table">
            <thead>
            <tr>
                <th></th>
                <th>Catalogo</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th></th>
                <th>Catalogo</th>
            </tr>
            </tfoot>
            <tbody>
            {% for reg in object_list %}
                <tr>
                    <td><input class="form-check-input" type="checkbox" value="{{ reg.pk }}" name="pk" /></td>
                    <td>
                        <a href="{% url 'tipocolor_read' reg.pk %}">
                            {{ reg }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <script type="text/javascript">
        let update_url = `{% url 'tipocolor_update' pk=0 %}`;
        let delete_many_url = `{% url 'tipocolor_delete_many' %}`;
    </script>
    <!-- catalogo/catalogo/tipocolor_list.html end block content -->
{% endblock %}
